@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<style>
    body {
        display: flex;
        flex-direction: column;
        background: rgb(22,22,22);
        background: linear-gradient(177deg, rgba(22,22,22,1) 0%, rgba(7,7,7,1) 100%);
        justify-content: center;
        margin-top: 3.2vw;
        margin-bottom: 1vw;
        color: darkgray;
    }

    #account {
        width: 90%;
        margin-left: 1vw;
        background-color: rgba(0, 0, 0, 0.4);
        height: 40vw;
        min-height: 200px;
        display: flex;
        flex-direction: column;
        padding: 2vw;
        border-radius: 10px;
        margin-bottom: 2.5vw;
    }

        #account button {
            background-color: rgb(25,25,25);
            border: solid 0px;
            color: darkgray;
            font-family: PT SERIF;
        }

    body h1 {
        color: darkgray;
        font-family: PT SERIF;
    }

    body label {
        color: darkgray;
        font-family: PT SERIF;
        font-size: 1vw;
    }

    .inputs {
        margin-top: 1vw;
        margin-bottom: 1vw;
        width: 40vw;
        height: 2vw;
        background-color: rgb(25,25,25);
        border: solid 1px rgb(25,25,25);
        color: darkgray;
        font-family: PT SERIF;
    }
</style>

<body>
    <div id="account">
        <h2>Change your account settings</h2>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>

    @section Scripts {
        @RenderSection("Scripts", required: false)
    }
</body>
