@model MoseKeyboard.Models.Models.ViewModel.HomeVM

<style>
    .logo {
        font-size: 7vw;
        color: white;
    }

    body {
        display: flex;
        flex-direction: column;
        background: rgb(22,22,22);
        background: linear-gradient(177deg, rgba(22,22,22,1) 0%, rgba(7,7,7,1) 100%);
        min-height: 2000px;
    }

    .intro {
        width: 100%;
        margin-top: 3vw;
        background-color: rgba(0, 0, 0, 0.4);
        height: 46.2vw;
        min-height: 200px;
        display: flex;
        flex-direction: column;
        background-image: url("/lib/images/intro.jpg");
        background-size: cover;
        background-position-y: -100px;
    }

    .intro span {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 45vw;
        min-height: 200px;
        background-color: rgba(0, 0, 0, 0.4);
        color: white;
        align-items: center;
        justify-content: center;
        font-size: x-large;
        font-family: PT SERIF;
    }

    .intro span h1 {
        font-size: 2.5vw;
        font-weight: bold;
    }

    .intro span h2 {
        font-size: 1.1vw;
        margin-bottom: 3vw;
    }

    .contact-btn {
        width: 13%;
        height: 3vw;
        background-color: rgba(7, 7, 7, 0.7);
        border: 0px;
        color: white;
        font-family: PT SERIF;
        font-size: 1.2vw;
        border-radius: 5px;
        align-content: center;
        text-decoration: none;
        text-align: center;
        padding-top: 0.5vw;
    }

    .contact-btn span {
        max-height: 1vw;
    }
    .contact-btn:hover {
        background-color: rgba(15, 15, 15, 0.7);
        transition: 0.1s;
        color: #fff;
        text-decoration: none;
    }

    .contact-btn:not(:hover) {
        background-color: rgba(7, 7, 7, 0.7);
        transition: 0.1s;
    }

    .under-nav-bar {
        background-color: transparent;
        min-height: 75px;
    }

    .intro-to-info {
        text-align: center;
    }

    .intro-to-info button {
        width: 100%;
        height: 8vw;
        background-color: transparent;
        border: 0px;
        background-color: rgba(0, 0, 0, 0.4);
        min-height: 150px;
    }

    .products-main {
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 1vw;
    }

    .products-main h1 {
        align-self: center;
        color: lightgray;
        font-family: PT SERIF;
    }
    
    .about-us {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 1vw;
        font-family: PT SERIF;
        padding-left: 2vw;
        padding-right: 2vw;
    }
    .about-us h1{
        align-self: center;
        color: white;
        padding: 1vw;
    }
    .about-background
    {
        display: flex;
        flex-direction: row;
        background-color: rgba(0, 0, 0, 0.2);
        width: 85%;
        padding: 2vw;
    }
    .about-background span
    {
        color: darkgray;
        font-size: 1.2vw;
        padding: 1vw;
    }
    .offers {
        display: flex;
        flex-direction: column;
        font-family: PT SERIF;
        width: 100%;
        background-color: rgb(0, 0, 0, 0.2);
    }
    .offers h1 {
        align-self: center;
        color: white;
        padding: 1vw;
    }
    .offer-card-container
    {
        display: flex;
        flex-direction: row;
        gap: 9vw;
        padding: 2vw;
    }
    .offer-card
    {
        display: flex;
        flex-direction: column;
        background-color: rgba(15, 15, 15, 0.5);
        width: 18vw;
        height: 25vw;
        margin-bottom: 1vw;
    }
    .offer-card img
    {
        margin-top: 2vw;
        align-self: center;
        width: 10vw;
        height: 10vw;
    }
    .offer-card span
    {
        margin: 1vw;
        color: dimgray;
        font-size: 0.9vw;
        text-align: center;
    }
</style>

<body class="col-md-12">
    <div class="intro">
        <span>
            <h1>
                custom keyboards for all your wishes
            </h1>
            <h2>
                we have been working in this field for about 2 years and provide only high-quality goods to our customers
            </h2>
            <a asp-action="Contact" asp-controller="Home" class="contact-btn">contact us</a>
        </span>
        <div class="intro-to-info">
            <a href="#list">
                <button>
                    <svg width="100" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7 10L12 15L17 10" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                </button>
            </a>
        </div>
        </span>
    </div>
    <div class="about-us">
        <h1>about us</h1>
        <div class="about-background">
            <img src="~/lib/images/keyboard1.jpg" />
            <span>our team of enthusiasts has been customizing keyboards for two years now. with a blend of craftsmanship and innovation, we transform ordinary keyboards into personalized masterpieces reflecting unique styles. each member brings distinct skills, from artisan keycap crafting to intricate soldering and programming expertise. our mission is to empower individuals to express themselves through their keyboards and elevate the typing experience.</span>
        </div><br />
        <div class="about-background" style="align-self:flex-end">
            <span>
                at our workshop, every keyboard is a masterpiece, crafted with care and passion. we listen closely to our clients, ensuring their unique vision is brought to life. customer satisfaction is our top priority, and we go above and beyond to exceed expectations. with us, your keyboard isn't just a tool, it's a work of art that brings joy every day.
            </span>
            <img src="~/lib/images/keyboard3.jpg" />
        </div>
    </div>
    <div class="products-main" id="list">
        <h1>our products</h1>
        <div class="row">
            @if (Model != null)
            {
                @foreach (var prod in Model.Products)
                {
                    <partial name="_ProductPartial" model="prod" />
                }
            }
            else
            {
                Console.WriteLine("Error loading products cards");
            }
        </div>
    </div>
    <div class="offers">
        <h1>offers</h1>
        <div class="offer-card-container">
            <div class="offer-card">
                <img src="~/lib/images/time.png"/>
                <span>at our company, we pride ourselves on our swift and responsive approach to addressing customer inquiries and resolving issues. our team is committed to delivering efficient solutions and ensuring timely assistance to meet our clients' expectations.</span>
            </div>
            <div class="offer-card">
                <img src="~/lib/images/guaranty.png" />
                <span>our guarantee ensures that every product or service provided meets the highest standards of quality and satisfaction. we stand behind our offerings, committed to resolving any issues promptly and ensuring complete customer satisfaction.</span>
            </div>
            <div class="offer-card">
                <img src="~/lib/images/connect.png" />
                <span>at our company, we prioritize strong customer relationships through open communication, attentive listening, and proactive engagement. through personalized support, regular updates, and feedback mechanisms, we strive to cultivate trust and satisfaction in every interaction.</span>
            </div>
            <div class="offer-card">
                <img src="~/lib/images/quality.png" />
                <span>quality is the cornerstone of our business. our dedication to excellence runs through every aspect of our operations, ensuring that our customers receive unparalleled satisfaction with every purchase.</span>
            </div>
        </div>
    </div>
</body>
